/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: arial;
  background-color: #c9004f;
}

section {
  padding: 10px 0;
}
/* #biglietto.hidden {
  display: none;
} */
#biglietto.visible {
  display: block;
}

h2 {
  color: white;
  text-align: center;
}

.container {
  background-color: white;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 2px 2px 2px #323232;
}
.container.c-bigl {
  border-radius: 0;
  box-shadow: none;
}

/* ________ SEZIONE CALCOLO BIGLIETTO ________ */
.generazione-biglietto {
  display: flex;
  justify-content: center;

}
.generazione-biglietto .box {
  margin: 0 30px;
  text-align: center;
  color: #c9004f;
}
.generazione-biglietto .box input,
.generazione-biglietto .box select {
  text-align: center;
  margin-top: 20px;
  display: block;
  padding: 5px 0;
  border-radius: 5px;
}

.button {
  text-align: center;
  padding-top: 40px;
}
.button button {
  margin: 0 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #c9004f;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #c9004f;;
}


/* ________ SEZIONE BIGLIETTO ________ */
.dettaglio-passeggeri {
  display: flex;
  height: 100px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.dettaglio-passeggeri .nome-passeggero {
  background-color: #7f7f7f;
  padding: 10px;
  font-weight: bold;
}

.dati-biglietto {
  display: flex;
  padding-left: 20px;
}
.dati-biglietto .box {
  width: 200px;
  line-height: 3;
}
.dati-biglietto .box p {
  font-weight: bold;
}
